@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MY HOUSE Index MANJAERY</h1>
    <p> about Me <a href="https://learn.microsoft.com/aspnet/core">majery ,Near Dist Hospital Manjeri,676 121</a>.</p>
</div>
