@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME to MANJERI</h1>
    <p> about Majneri <a href="https://learn.microsoft.com/aspnet/core">majery ,Near Dist Hospital Manjeri,676 121</a>.</p>
</div>
    <hr>
    <p>The above code is the default code that comes with the ASP.NET Core MVC template. 
    Now, let’s run the application and see the output. 
    Run the application by pressing F5 or clicking on the IIS Express button. 
    The application will open in the browser. 
    The output will look like the below image. 
    Summary 
    In this article, we learned how to create an ASP.NET Core MVC application using Visual Studio 2019. We also learned how to create a new project, add a controller, and view to the project.</p>